.varela-round-regular {
  font-family: "Varela Round", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #eaddca;
  font-family: "Varela Round", serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  color: #a0522d;
  overflow-x: hidden;
}

/* #49796B */
/* #4f7942 */
/* #679267 */

footer {
  color: #a0522d;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  opacity: 0.8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  padding-top: 10px;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

h4 {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
}

input {
  color: #a0522d;
  font-family: "Varela Round", serif;
  text-align: center;
  font-size: 0.9em;
  border: 2px solid #a0522d;
  display: block;
  margin: 10px auto;
  padding: 15px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px hsl(0deg 0% 0% / 0.075),
    0px 2px 2px hsl(0deg 0% 0% / 0.075), 0px 4px 4px hsl(0deg 0% 0% / 0.075),
    0.5px 8px 8px hsl(0deg 0% 0% / 0.075);
}

input::placeholder {
  color: #a0522d;
}

/* hopefully prevent the yelow background on autofill */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
}

a {
  text-decoration: none;
}

.container {
  flex: 1;
  padding-bottom: 30px;
}

/* ------ LANDING PAGE STYLES ------ */

.cta-btn {
  color: white;
  border: none;
  font-family: "Varela Round", serif;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  background-color: #a0522d;
  box-shadow: 0px 1px 1px hsl(0deg 0% 0% / 0.075),
    0px 2px 2px hsl(0deg 0% 0% / 0.075), 0px 4px 4px hsl(0deg 0% 0% / 0.075),
    0.5px 8px 8px hsl(0deg 0% 0% / 0.075);
  border-radius: 10px;
  padding: 15px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
  text-decoration: none;
}

.card {
  background-color: #f5e9d9;
  border-radius: 10px;
  box-shadow: 0px 1px 1px hsl(0deg 0% 0% / 0.075),
    0px 2px 2px hsl(0deg 0% 0% / 0.075), 0px 4px 4px hsl(0deg 0% 0% / 0.075),
    0.5px 8px 8px hsl(0deg 0% 0% / 0.075);
  padding: 10px;
  margin: 10px;
}

.icon {
  font-size: 2em;
  padding-top: 10px;
  padding-left: 5px;
}

.landing-img {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.built-by {
  color: #a0522d;
  padding: 5px;
  margin-left: 1px;
}

.built-by:hover {
  color: #eaddca;
  background-color: #a0522d;
  border-radius: 10px;
  padding: 5px;
}

/* ------ NEW USER STYLES ------ */

.createBtn {
  color: white;
  font-family: "Varela Round", serif;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  border: 2px solid #a0522d;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  padding: 15px;
  width: 300px;
  cursor: pointer;
  background-color: #a0522d;
  box-shadow: 0px 1px 1px hsl(0deg 0% 0% / 0.075),
    0px 2px 2px hsl(0deg 0% 0% / 0.075), 0px 4px 4px hsl(0deg 0% 0% / 0.075),
    0.5px 8px 8px hsl(0deg 0% 0% / 0.075);
}

.name {
  text-transform: capitalize;
}

/* ------ CUPBOARD STYLES ------ */

.cupboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 200px;
  width: 100%;
  border: 2.5px solid #a0522d;

  margin: 2% auto;
  border-radius: 10px;
  position: relative;
  overflow: auto;
}

.SubmitNewTea {
  background-color: #a0522d;
  color: white;
  font-family: "Varela Round", serif;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  border: 2px solid #a0522d;
  border-radius: 10px;
  display: block;
  margin: 15px auto;
  padding: 15px;
  width: 300px;
  cursor: pointer;
  box-shadow: 0px 1px 1px hsl(0deg 0% 0% / 0.075),
    0px 2px 2px hsl(0deg 0% 0% / 0.075), 0px 4px 4px hsl(0deg 0% 0% / 0.075),
    0.5px 8px 8px hsl(0deg 0% 0% / 0.075);
}

/* ------ TEA STYLES ------ */

.tea-item {
  border-radius: 10px;
  padding: 10px;
  margin: 3px;
  min-height: 150px;
  max-height: 250px;
  max-width: 400px;
}

.tea-item:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.tea-item:hover .delete-tea-btn {
  opacity: 1;
}

.tea-item img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.tea-item .delete-tea-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: inherit;
  cursor: pointer;
  float: right;
  font-size: 20px;
  border: none;
  background: transparent;
  opacity: 0;
}

/* only show delete button when hovering over a tea item */
.tea-item:hover .delete-tea-btn {
  opacity: 1;
}

.confettiMessage {
  font-size: 1em;
}

/* ------ BUTTON STYLES ------ */

.btn {
  color: #a0522d;
  font-family: "Varela Round", serif;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  border: 2px solid #a0522d;
  border-radius: 10px;
  display: block;
  /* margin: 10px auto; */
  padding: 15px;
  width: 150px;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0px 1px 1px hsl(0deg 0% 0% / 0.075),
    0px 2px 2px hsl(0deg 0% 0% / 0.075), 0px 4px 4px hsl(0deg 0% 0% / 0.075),
    0.5px 8px 8px hsl(0deg 0% 0% / 0.075);
}

/* ------ MODAL STYLES ------ */

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  overflow: auto;
}

.modal.open {
  display: block;
}

.modal-content {
  background: #679267;
  position: fixed;
  left: 25%;
  top: 25%;
  padding: 30px;
  height: 50%;
  width: 50%;
}

.close {
  color: inherit;
  cursor: pointer;
  float: right;
  font-size: 28px;
  border: none;
  background: transparent;
}

body.modal-open {
  overflow: hidden;
}

/* ------ MEDIA QUERIES ------ */

@media (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }

  .cta-btn {
    letter-spacing: 0.05em;
    font-size: 1.4em;
    padding: 20px;
    margin: 30px auto;
    cursor: pointer;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 700px;
  }

  .img-container {
    display: flex;
    justify-content: center;
  }

  .landing-img {
    max-width: 800px;
    margin-top: 40px;
  }
}
